@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model InterviewPrepReview.Models.Home.ChoosePlanetViewModel

<form asp-controller="Home" asp-action="Residents" method="post">

    <div>
        <label asp-for="PlanetID"></label>
        <input asp-for="PlanetID" />
    </div>



    <button class="btn btn-dark">See Residents on your planet</button>

</form>